{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid"></article>
        <br>
        {% for attribute in user %}
        <li class="list-group-item">
            <h4>
                {% if attribute[0] == "username" %}
                    Name:
                {% else %}
                    {% if attribute[0] == "age" %}
                        Age:
                    {% else %}
                        {{ attribute[0] }}:
                    {% endif %}
                {% endif %}
            </h4> {{ attribute[1] }}
        </li>
        {% endfor %}
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for user in users %}
                        <li class="list-group-item">
                            {{user.id}}
                            <a href="/users/{{user.id}}">{{user.username}}</a>
                            {{user.age}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
