{% extends "base.html" %}

{% block content %}
<h2>Add Image Feed</h2>
<form method="post" action="/upload_image" enctype="multipart/form-data">
    {% if form %}
        {{ form.as_p }}
    {% else %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <p>
            <label>Image: </label>
            <input type="file" name="image" accept="image/*" required>
            Upload an image file.
        </p>
    {% endif %}
    <button type="submit">Upload Image</button>
</form>
{% endblock %}