{% extends "base.html" %}

{% block content %}
<h2>Register</h2>
<form method="post">
    {% if form %}
        {{ form.as_p }}
    {% else %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        <p>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required>
            Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
        </p>

        <p>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required>
        </p>

        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>

        <p>
            <label for="password_confirmation">Password confirmation: </label>
            <input type="password" id="password_confirmation" name="password_confirmation" required>
            Enter the same password as before, for verification.
        </p>
    {% endif %}
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>
{% endblock %}
